---
const { title, img } = Astro.props;
---

<div class="flex items-center gap-3 group  ">
    <div class="w-2 h-2 rounded-full p-1 bg-green-900">
    </div>
    <div class="text-base text-black">
        {title}
    </div>
</div>
